<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link type="text/css" rel="stylesheet" href="/static/css/element.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>
<body style="height:100%;">
<div class="menu">
    <div class="menu-list1" id="list1">
        <img src="/static/css/images/status.png">
    </div>
    <div class="menu-list1" id="list2">
        <img src="/static/css/images/singleLine.png">
    </div>
    <div class="menu-list1" id="list3">
        <img src="/static/css/images/compare.png">
    </div>
</div>
</body>
<script>
    $("#list1").on("click", function () {
        window.parent.frames[2].location.href = "/areaInfo";
    });
    $("#list2").on("click", function () {
        window.parent.frames[2].location.href = "/singleChart";
    });
    $("#list3").on("click", function () {
        window.parent.frames[2].location.href = "/multiChart";
    });
</script>
</html>