<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>multiChart</title>
    <link type="text/css" rel="stylesheet" href="/static/css/element.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>
<body >
<div class="info-index-top">
    <a href="/areaInfo/fetch">
        <div class=" my_button">
            Fetch Data
        </div>
    </a>
    <div class="info-index-top-text">
        Fetch new data from the remote server(点击本按钮从服务器获取最新数据)
    </div>
</div>
</body>
</html>